@import 'bootstrap-icons/font/bootstrap-icons.css';

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --padding-container: 100px 0;
  --color-title: #001A49;
  --font-family: 'Poppins', sans-serif;
}